<div>
  <h1>Selamat datang di <span class="label label-default">EKABIMA Dashboard</span></h1>
  <br>
  <p>
    Lakukan pendaftaran dengan mengisi form pendaftaran di <br> <%= link_to "Halaman Pendaftaran", dashboard_register_path, class: "btn btn-primary" %>
  </p>
  <p>
    Upload konten website anda di <br> <%= link_to "Halaman Unggah Berkas", dashboard_upload_path, class: "btn btn-primary" %>
  </p>
  <p>
    Anda juga dapat mengecek status dari pendaftaran anda di <br> <%= link_to "Halaman Status", dashboard_status_path, class: "btn btn-primary" %>
  </p>
</div>
