<h1>Status</h1>
<div class="row text-center">
  <div class="col-md-4">
    <div class="status-box success">
    <li class="fa fa-check fa-5x" aria-hidden="true"></li>
  </div>
  <h4>Pendaftaran</h4>
  <div class="form-group status-group">
    <h5>Akun Wordpress</h5>
    <input type="text" class="form-control status-form" placeholder="Username">
    <input type="text" class="form-control status-form" placeholder="Password">
  </div>
</div>
<div class="col-md-4">
  <div class="status-box">
    <li class="fa fa-check fa-5x" aria-hidden="true"></li>
  </div>
  <h4>Unggah Berkas</h4>
  <div class="form-group status-group">
    <h5>Akun Wordpress</h5>
    <input type="text" class="form-control status-form" placeholder="Username">
    <input type="text" class="form-control status-form" placeholder="Password">
  </div>
</div>
<div class="col-md-4">
  <div class="status-box">
    <li class="fa fa-check fa-5x" aria-hidden="true"></li>
  </div>
  <h4>Lorem Ipsum</h4>
  <div class="form-group status-group">
    <h5>Akun Wordpress</h5>
    <input type="text" class="form-control status-form" placeholder="Username">
    <input type="text" class="form-control status-form" placeholder="Password">
  </div>
</div>
</div>
