<div class="col-lg-12">
  <div class="row text-center" style="margin-top: 10em;">
    <div class="jumbotron container">
      <h1><span class="label label-primary">EKABIMA</span></h1>
      <br>
      <h3>Get your <span class="label label-success">free</span> website (including domain and hosting) now!</h3>
      <br>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      or
      <%= link_to "Register", new_user_registration_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
