@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.login-height {
  height: 100%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2C3E51;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.logo {
  width: 70%;
  margin-left: 8px;
}

.sidebar-nav>li>a:not(.navbar-brand) {
    padding: 10px 0;
    margin-left: -20px;
    font-size: 15px;
}

.navbar {
  min-height: 60px;
  border-radius: 0;
  background-color: #3093fb;
}

.navbar-default {
  border: 0;
}

.sidebar-active {
  border-right: 5px solid #00df88;
}

.navbar-default .button-toggle {
  border-color: #ddd;
}

.button-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#menu-toggle {
  font-size: 28px;
}

.list {
  margin-right: 15px;
}

.fa-bars {
  color: #fff;
  margin: 16px 0;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
}

.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-container {
  margin: 20px 50px;
  padding: 5px 50px 50px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  border-color: #e7e7e7;
}

.main-container>h1 {
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a4a4a4;
  margin-bottom: 60px;
}

.main-container>form {
  margin-top: 30px;
  padding: 0 10px;
}

.alur-list {
    margin: 0 100px 0 20px;
    padding: 30px 5px;
    border-radius: 4px;
}

.navbar-right {
  display: inline-block;
  float: right;
}

.btn-position {
  text-align: right;
  margin-top: 50px;
  padding-right: 15px;
}

.input-group {
  padding: 0 15px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #2382e6;
}

.login-page {
  height: 100%;
  width: 100%;
  padding: 12% 0 0;
  margin: auto;
  position: absolute;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input:not([type=submit]) {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3093fb;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form a {
  margin-top: 10px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #2382e6;
  color: #fff;
  text-decoration: none;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #3093fb;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

#login-bg {
  background-image: url(../assets/children-login-bg.jpg);
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  background-size: cover;
}

#color-bg {
  background-color: #004FA2;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
}

.status-box {
  height: 200px;
  width: 200px;
  background-color: #ccc;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

.status-form {
  margin: 10px auto;
  width: 80%;
}

.fa-check {
  padding-top: 60px;
  color: #b9b9b9;
}

.status-group {
  margin-top: 100px;
  margin-bottom: 40px;
}

.success {
  background-color: #6bd48b;
}

.success .fa-check {
  color: #37ab5a;
}

.message {
  text-align: left;
}

.message .title {
  color: #4183D7;
}

.message .content {
  padding: 10px 0;
}

.message .mine {
  text-align: right;
}

.message-form {
  text-align: left;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@media (max-width: 767px) {
  .fa-bars {
    margin: 24px 0;
  }

  .alur-list {
    margin: 0;
    display: flex;
  }
}

@media (max-width: 500px) {
  .alur-list {
    display: inline-table;
  }
}

@media (max-width: 1120px) {
  .alur-list {
    margin: 0;
  }
}

@media (max-width: 950px) {
    #wrapper:not(.toggled) #page-content-wrapper .main-container .row .col-sm-9 {
        width: 60%;
    }
}
